/**
 * Mobile styles
 *
 *
 */

body {
    font-size: 1em;
    background: #fffffe !important; /* Set magic marker read by Javascript isMobile() */

    /* http://stackoverflow.com/questions/6210788/how-to-avoid-ios-automatic-font-size-adjustment */
    -webkit-text-size-adjust: 100%;
}


#portal-top {
    overflow: hidden;
    position: static;
    float: none;
}

#portal-header {
    position: static;
    width: 100%;
    overflow: hidden;
}

#portal-globalnav {
    /* Make sure we don't allocate width: 100% + 1px,
       causing horizontal scrollbar to appear */
    border: 0;
}


#visual-portal-wrapper {
    margin: 0;
    overflow: hidden;
    background: white;
}

#portal-columns {
    position: static;
    float: none;
    background: white;
}

#portal-column-one {
    display: none;
}

#portal-column-content {
    width: 100%;
    margin: 0;
    float: none;
    left: 0;
    overflow: hidden;
    position: static;
    background: white;
}

/**
 * Make sure all portlets are in one column by default.
 *
 * Syntax: <div class="cell PortletsContentBelowBelow1 width-1:3 position-0">;
 */
#visual-portal-wrapper .cell {
    float: none;
    position: static;
    width: 100% !important;
    margin-left: 0 !important;
}

/* Do not display carousel in mobile */
.portletCarouselWrapper {
    display: none;
}

/* Unsupported on mobile for now */
#portal-personaltools-wrapper {
    display: none;
}

/* Display cloned logo only inside mobile header */
#portal-logo {
    display: none;
}

#mobile-header #portal-logo {
    display: block;
    float: left;
}

#portal-logo img {
    max-width: 64px;
}


#mobile-header {
    display: block;
    padding: 0;

    -webkit-box-shadow: 0 3px 3px rgba(180, 180, 180, 0.6);
    -moz-box-shadow: 0 3px 3px  rgba(180, 180, 180, 0.6);
    box-shadow: 0 3px 3px rgba(180, 180, 180, 0.6);
    margin-bottom: 5px;
}

#mobile-header,
#mobile-slide-menu {
    background: #10B6DE;
}

/**
 *
 * Don't show these during load,
 * Î©e later explicitly shwo there by JS.
 * This prevents some ugly flickering problem if page loads slowly.
 */
#portal-searchbox,
#quicklinks,
#portal-globalnav,
#anon-personalbar {
    display: none;
}

/* Mobile menu */

#mobile-logo {
    float: left;
}

.mobile-slide-button {
    float: right;
    width: 57px;
    height: 64px;
    background: transparent url(++resource++plomobile/mobile_sprite_icons.png) no-repeat top left;
    display: block;
    margin: 5px;
}

#mobile-menu-button {
    background-position: -57px 0;
}

#mobile-search-button {
    background-position: -114px 0;
}

/*
.mobile-slide-button:hover {
    background-position: 0px 0px !important ;
}*/

#mobile-menu-button.active,
#mobile-search-button.active {
    background-position: 0 0;
}

/* These are visible by default for non-javascript user agents.
   Then moved to the header and hidden until click  on JS
   enabled phones */
#mobile-slide-menu,
#mobile-slide-search {
}

/* One menu */
#mobile-slide-menu > ul {
    width: 100%;
    float: left;
    display: block;
}

/* Sections + quick links menus */
#mobile-slide-menu.mobile-slide-quick-links > ul {
    width: 50%;
}

#mobile-slide-menu li {
    display: list-item;
    margin-bottom: 0.5em;
    width: 100%;
}

#mobile-slide-menu .heading {
    color: white;
    font-size: 120%;
    font-weight: bold;
    text-align: center;
}

#mobile-slide-menu a,
#mobile-slide-menu a:visited,
#mobile-slide-menu a:active,
#mobile-slide-menu a:hover {
    color: black;
    border-radius: 1em;
    background: white url(++resource++plomobile/quick_menu_arrow.png) no-repeat 90% 50%;
    padding: 0.5em;
    margin: 0 0.5em;
    display: block;
}

#mobile-quick-link-entries a,
#mobile-quick-link-entries a:active,
#mobile-quick-link-entries a:visited,
#mobile-quick-link-entries a:hover {
    margin-left: 0;
}


/* Used for mobile click style */
#mobile-slide-menu a:hover {
    background-color: #ddd;
}

#mobile-slide-menu a.selected {
    background-color: #426EEB;
    color: #FFFFFF;
}

#mobile-quick-link-entries img  {
    display: none;
}


/* Mobile search */
#portal-searchbox-mobile {
    width: 100%;
    float: none;
}

/* Display search button as text, because it is impossible to adjust pixel image to match mobile input box size */
.LSBox input.searchButton {
    text-indent: 0 !important;
    background: #F7AE25 !important;
    color: white;
    padding: 5px;
    width: auto !important;
    border: 1px groove #F7AE25 !important;
}

#livesearch0 {
    margin: 5px;
}

/* No live on search mobile */
#LSResult {
}

.LSBox {
    margin: 1em;
}

#searchGadget {
    font-size: 1em !important;
    width: 80% !important;
    -webkit-border-radius: 0.6em !important;
    border-radius: 0.6em !important;
    -webkit-appearance: none;
    background: white  !important;
}

/* Don't show button, apply search on touch kbd "enter" */
.searchButton {
    display: none;
    font-size: 1em;
}

.searchSection {
    font-size: 1em;
    margin: 1em 0;
    display: none; /* Hidden for better UX for now */
}

/* Breadcrumbs */

/* Super-specific to make sure we override desktop theme */
#visual-portal-wrapper #portal-breadcrumbs {
    font-size: 1em;
    margin-top: 0;
}

/* On all pages default to 0 padding so that tile link lists can look proper.
 * We enable padding later view by view basis.
 */

#content {
    padding: 0;
    border: 0;
    margin: 0;
    margin-bottom: 0px;
    font-size: 1em;
}

.template-fg_base_view_p3 #content {
    margin-bottom: 40px;
}

#content-core {
    padding: 0;
}

.documentActions {
    display: none;
}

/* Footer fixes */

#portal-footer {
    text-align: center;
}


#mobile-footer {
    display: block;
    clear: both;
}

#portal-siteactions {
    display: none;
}

/**
 * CONTENT STYLES
 */

#content h1 {
    font-size: 2em;
}

#content h2 {
    font-size: 1.75em;
}

#content h3 {
    font-size: 1.6em;
}

/* Discussion is disabled on mobile */

.discussion {
    display: none;
}

/* Content images should match the screen width, not overflow */

.image-inline {
    max-width: 100%;
}

dl.portlet {
    margin-bottom: 0 !important;
}

dl.portlet .portletHeader {
    padding: 0.5em;
    /* Make sure portlet header bg image scales on mobile */
    background: transparent;
    margin-bottom: 0;
}

dl.portlet dt.portletHeader,
dl.portlet dt.portletHeader a,
dl.portlet dt.portletHeader a:link,
dl.portlet dt.portletHeader a:visited {
    font-size: 1.2em;
}

/* No bottom border */

#portlets-below {
    background: transparent;
    padding: 0;
}

#portlets-footer {
    padding-bottom: 2em;
}

#portlets-footer dl.portlet dd.portletItem {
    padding: 0.5em;
    padding-bottom: 0;
}

#portlets-footer dl {
    border: 0;
    box-shadow: 0 0 0;
}

/* Align date more nicely */
#portlets-footer .portletItemDetails {
    margin-left: 0;
}


dd.portletFooter {
    padding-left: 0 !important;
}

/* Undo "More" styling */
dl.portlet .portletFooter a {
    text-indent: 0;
    background: transparent;
    height: auto;
    position: static;
}

#portal-bottom {
    margin: 0 !important;
}

/**
 * Make links more iPhone'ish
 *
 * Front page links
 *
 * News section links
 */

/* Headings on separate lines */
.mobile-tile-link .summary {
    display: block;
}

/* Make sure we don't display extra borderes e.g. on the search result page
  making it ugly */

.mobile-tile-link a,
.mobile-tile-link a:visited,
.mobile-tile-link a:active,
.mobile-tile-link a:hover {
    border-bottom: 0 !important;
}

/* Add seperation for FP portlet, news listing */
.portletItem, .portletFooter, .tileItem,
#content-core .mobile-tile-link {
       border-bottom: 1px solid #ccc;
}

#content-core .mobile-tile-link:first-child {
    border-top: 1px solid #ccc;
}

#content-core .tileItem {
    padding: 0.5em 0.5em;
}

/* No icons on front page listing */
.portletItem img[alt="News Item"],
.portletItem img[alt="Feed Item"] {
    display: none;
}

.portlet-static-about-iw-learn .mobile-tile-link {
    border-top: 1px solid #ccc;
    padding-top: 0.5em !important;
}

#portlets-footer .portlet {
    min-height: 0;
}

/* Mobile tile links generated by Javascript */
.mobile-tile-link {
       cursor: pointer !important;
       border-right-width: 15px;
       background: transparent url(++resource++plomobile/mobile_tile_link_icon.png) no-repeat center right !important;
}

.mobile-tile-link > * {
    cursor: pointer;
    padding-right: 16px;
}

.mobile-tile-link:hover {
    background: #eee url(++resource++plomobile/mobile_tile_link_icon.png) no-repeat center right !important;
}

/* folder_listing template */
#content .content-core-tile-links dd {
    margin: 0;
    padding: 20px;
}

/* News etc. pagination */

#content div.listingBar {
    margin: 0 0.5em;
}

#content .listingBar a,
#content .listingBar a:visited,
#content .listingBar a:active  {
    color: #205C90;
    border: 1px solid #205C90 !important;
}

#content .listingBar a:hover {
    background-color: #205C90;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

#content .listingBar a,
#content .listingBar a:visited,
#content .listingBar a:active,
#content .listingBar a:hover,
#content .listingBar a::link,
#content div.listingBar span.current {
    margin-left: 1em;
    font-weight: bold;
    font-size: 14px;
    min-width: 1.5em;
    padding: 0.5em;
    display: inline-block;
    text-align: center;
    margin: 0.5em;
    text-decoration: none;
    font-weight: bold;

}

div.listingBar .next {
    background: white;
    float: none;
}

/* Make space for right arrow image */
div.listingBar .next a {
    padding-right: 30px !important;
}


#content .listingBar span:first-child a,
#content .listingBar a:first-child {
    margin-left: 0;
}

/* Generic Plone form style fixes */

input, select {
    font-size: 1em;
    height: auto !important;
}

input[type=checkbox] {
    /*-webkit-appearance: none;*/
    min-height: 2.5em;
    margin-right: 0.5em;
}


/* Add readbility margin to content text */
#content-core,
#content .documentDescription,
#content .documentFirstHeading,
#content .pfg-form, /* PloneFormGen */
.template-search #content-core .discreet, /* Search results */
.searchPage { /* Search results */
    margin: 0 20px; /* Note: need to use px as em reacts to different font size*/
}

#content .documentDescription {
    font-size: 1em !important;
}

/* Content area with tile links need always special handling */
#content-core.content-core-tile-links {
    margin: 0;
}

table {
    font-size: 1em;
}

table.plain th, table.plain td {
    font-size: 1em;
}


/* Override desktop font mangle for forms */
#content form,
#content select,
#content input {
    font-size: 1em;
}

#content legend {
    font-size: 1em;
}

/* ... otherwise font size does not kick in ... */
#content input[type=submit] {
    -webkit-appearance: none;
    padding: 5px;
}

/* Fix fieldsets on document search form */
fieldset > .field {
    display: block !important;
    float: none !important
}

/* Checkboxes on PFG */
.ArchetypesMultiSelectionValue {
    margin-bottom: 1em;
}

.ArchetypesMultiSelectionValue input[type=checkbox],
.ArchetypesBooleanWidget input[type=checkbox]{
    -webkit-transform: scale(1.5, 1.5);
    margin: 5px;
    display: inline-block;
    vertical-align: top;
    margin-top: 10px;
}

.ArchetypesMultiSelectionValue label,
.ArchetypesBooleanWidget label {
    display: inline-block;
    width: 80%;
}

/* Events */

table.listing {
    font-size: 1em;
}

.template-atct_topic_view .documentByLine {
    color: #aaa;
    display: block;
}

/* SVG images do not work properly on mobile */
#content svg {
    display: none;
}

 /**
  * .listing classes - where ????
  */
.listing th img {
    display: none;
}

#content .listing tbody ul {
    margin-left: 0;
}

.listing tbody ul li {
    list-style-type: none;
}


/* Inline table of contents */
#document-toc {
    width: 100%;
}

/* Search results */

.searchResults a {
    display: block;
}

/* Image portlet carousels are hidden by default
   and then set visible by Javascript
  */

.image-portlet-carousel {
    display: none;
}

